:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  #page-content {
    flex: 1;
  }
  background-image: url(../assets/imagini/20210707_143538-1.jpg);
  background-size: 100%;
  background-size: cover;
}
body {
  margin: 0;
}
.header {
  padding: 10px;
}
