<p>
  On the sunny hills of Cotnari and Cucuteni, an association of producers was
  born out of a love of fruit. We created this association in 1997. Our orchards
  include various varieties of fruit trees: apples, pears, cherries and plums.
  We have modernized with a fruit sorting line, as well as a large capacity cold
  storage.
</p>
<div class="carousel">
<div
  class="carousel slide carousel-dark"
  data-bs-ride="carousel"
  id="carouselExampleIndicators"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block mx-auto"
        width="300px"
        src="../../../assets/imagini/20210707_144116.jpg"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block mx-auto"
        width="300px"
        src="../../../assets/imagini/20210707_143333.jpg"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block mx-auto"
        width="300px"
        src="../../../assets/imagini/306985_10150406127205465_796303099_n.jpg"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block mx-auto"
        width="300px"
        height="400px"
        src="../../../assets/imagini/123776717_2799691070280213_4292161064125255590_n.jpg"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block mx-auto"
        width="300px"
        height="400px"
        src="../../../assets/imagini/118274845_2738369129745741_3089896510571066048_n.jpg"
      />
    </div>
  </div>
</div>
<button
  class="carousel-control-prev"
  type="button"
  data-bs-target="#carouselExampleIndicators"
  data-bs-slide="prev"
>
  <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button
  class="carousel-control-next"
  type="button"
  data-bs-target="#carouselExampleIndicators"
  data-bs-slide="next"
>
  <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>