
p{
  position: relative;
  top:100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.carousel{
  position: relative;
  top: 80px
}
.tot-carusel{
  position: relative;
}